*{margin: 0; padding: 0;}
body{background-color: #e6f1f8; font-size: 24px;}
/* 헤더 */
header {width: 1200px; height: 300px;}
header > img{padding: 10em;}

/* 테이블 */
table{width: 700px; height: 300px; margin: 50px;}

/* 버튼 */
/* button{background-color: #0D99FF; color:#ffffff; border-radius: 3px;} */